.Blog {
  padding-top: 14rem;
  &-link {
    font-size: 1.6rem;
    font-weight: bold;
    color: var(--primary-color);
  }
  &-content {
    @include respond-to(medium){
      padding-left: 24px;
    }
    h3 {
      font-weight: 900;
      margin-top: 2rem;
      @include respond-to(medium){
        margin-top: 0;
      }
    }
    span {
      font-size: 1.4rem;
      font-weight: 800;
      color: black;
    }
  }
  &-article {
    margin: 0 0 3rem;
    border-bottom: .1rem;
  }
  &-sidebar {
    h4 {
      color: var(--primary-color);
      font-weight: 900;
    }
    &List {
      padding-left: .8rem;
      font-weight: 300;
      color: #000;
      li {
        margin: .5rem;
        &::before {
          content: "\2022";
          color: var(--primary-color);
          font-size: 3rem;
          vertical-align: middle;
          line-height: 0;
          margin-right: 1rem;
        }

      }
    }
  }
  &-box {
    background: #EDEFF1;
    padding: 1.2rem 1.5rem;
    margin: 2.2rem 0;
  }
  &-articlesContent {
    background: #EDEFF1;
    width: 100%;
    margin: 2rem 0;
    padding: 2.4rem;
  }
}

.Tags {
  li {
    background: white;
    padding: 6px;
    font-size: 14px;
    &::before {
      margin-right: .2rem;
    }
  }
}

.Blog-sidebarForm {
  padding: 2rem;
  border: .1rem solid #EDEFF1;
  button {
    padding: 1rem 2.2rem;
    min-width: 100%;
  }
}