
Header {
  background: #F4EBCD;
}
.Header-social{
  padding: 1rem 0;
  position: relative;
  i{
    padding-right: 1rem;
  }
}
.Header-logo{
  position: absolute;
  left: 0;
  top: 1rem;
  z-index: 100;
  img{
    max-width: 17rem;
  }
}
nav{
  background: #FFCE42;
  text-transform: uppercase;
  a{
    color: #00185E  ;
  }
  li{
    padding: 1.5rem 1rem 1.2rem;
  }
  ul{
    margin: auto !important;
  }
}

