body.open {
  overflow-y: hidden;
}

Header {
  position: absolute;
  width: 100vw;
  min-height: 14.5rem;
}

.home Header {
  background: #F4EBCD;
  position: relative;
}

.Header-social {
  padding: 1rem 0 .5rem;
  position: relative;
  z-index: 100;
  i {
    padding-right: 1rem;
    display: none;
    @include respond-to(medium) {
      display: block;
    }
  }
  span {
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 32px;
    margin: 0 .4rem 0;
  }
}

.Header-logo {
  position: absolute;
  left: 0;
  top: 1rem;
  z-index: 100;
  img {
    max-width: 17rem;
  }
}

nav {
  background: #FFCE42;
  text-transform: uppercase;
  position: relative;
  z-index: 10;
  min-height: 4.2rem;

  a {
    color: #00185E;
    font-size: 1.4rem;
  }
  li {
    padding: 1.5rem .6rem 1.2rem;
  }
  ul.large {
    display: none;
    margin: auto !important;
    @include respond-to(medium) {
      display: flex;
    }
  }
}

.mobile-menu {
  position: absolute;
  right: 1.5rem;
  top: .7rem;
  transition: all .2s ease;
  @include respond-to(medium) {
    display: none;
  }
  span {
    display: block;
    height: .3rem;
    margin: 0.5rem;
    width: 4rem;
    background: #001E5D;
    transition: all .2s;
    will-change: opacity, transform;
  }
  &Content {
    position: fixed;
    z-index: 100;
    background: #FFCE42;
    top: 0;
    right: 100vw;
    transition: all .5s;
    will-change: transform;
    a {
      display: block;
      margin: 1rem;
      color: #001E5D;
      font-size: 2rem;
      text-align: center;
    }
  }
}

.open {
  .mobile-menu {
    span {
      &:first-child {
        transform: translateY(8px) rotate(-45deg);
      }
      &:nth-child(2) {
        opacity: 0;
      }
      &:last-child {
        transform: translateY(-8px) rotate(45deg);
      }
    }
    &Content {
      transform: translateX(100vw);
    }
  }
  nav {
    z-index: 1000;
  }
}

.Header-search {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  will-change: transform;
  transition: all .4s;
  background: var(--secondary-color);
  transform: translateX(100vw);
  &.open {
    transform: translateX(0);
  }
  form {
    width: 100%;
    max-width: 60rem;
    margin: 0 2rem;
  }
  button {
    background: none;
    min-width: 0;
    padding: 0;
  }
  input {
    background: none !important;
    border: none !important;
    border-bottom: 1px solid var(--primary-color) !important;
    border-radius: 0 !important;
  }
  &Close {
    cursor: pointer;
    position: absolute;
    right: 6rem;
    top: 3rem;
    span {
      transform-origin: center;
      position: absolute;
      height: .3rem;
      margin: 0.5rem;
      width: 4rem;
      background: #001E5D;
      &:first-child {
        transform: rotate(-45deg);
      }
      &:last-child {
        transform: rotate(45deg);
      }
    }
  }
}

.comments-title {
  display: none;
}

.comment-list {
  list-style: none;
  padding: 0;
}

.comment-body {
  position: relative;
}

.commentmetadata {
  position: relative;
  right: 0;
  top: 0;
  @include respond-to(medium){
    position: absolute;
  }

}

#comments {
  margin: 4rem 0 2rem;
  p {
    margin: 1rem 0;
  }
  .reply {
    margin-bottom: 3rem;
  }
  a {
    font-size: 1.4rem;
    color: #4e4e4e;
    font-weight: 300;
  }

}
.tnp-widget input.tnp-submit{
  color: var(--primary-color)  !important  ;
  background: var(--secondary-color)  !important;
  border-radius: .3rem  !important;
  font-weight: 800  !important;
  padding: 1rem 1.4rem  !important;
  margin: 0 0 1rem  !important;
  width: 100%  !important;
  font-size: 1.5rem  !important;
}
.tnp-widget input[type=email]{
  background: white !important;
}
#recentcomments{
  padding-left: .8rem;
  font-weight: 300;
  color: #000;
  margin: 0;
  list-style: none;
  li{
    margin: .5rem;
  }
  li::before {
    content: "\2022";
    color: var(--primary-color);
    font-size: 3rem;
    vertical-align: middle;
    line-height: 0;
    margin-right: 1rem;
  }
}
