@import "~inuit-css";

:root {
  --primary-color: #00185E;
  --secondary-color: #FFCE42;
  --link-color: #538BF4;
  --fontPrimary--color: #434343;
  --lightGrey-color: #E9ECEF;
  --darkGrey-color: #8FA4B8;
  --dark-color: #5A6169;
  --active-color: #007BFF;
  --grid-maxWidth: 1200px;
}

@mixin respond-to($breakpoint) {
  @if $breakpoint == "small" {
    @media (min-width: 36rem) {
      @content
    }
  } @else if $breakpoint == "medium" {
    @media (min-width: 45rem) {
      @content
    }
  } @else if $breakpoint == "large" {
    @media (min-width: 920px) {
      @content
    }
  }
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  color: #00185E;
  overflow-x: hidden;
}

h1 {
  font-weight: 800;
  font-size: 2.8rem;
}

h2 {
  font-weight: 800;
  line-height: 1em;
}

h3 {
  line-height: 1em;
}

p {
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
  font-size: 1.4rem;
  letter-spacing: inherit;
}

.middle-items {
  align-items: center !important;
}

@import "template/header";
@import "template/home";
@import "template/footer";
@import "template/tutorials";
@import "template/social";
@import "template/means";
@import "template/contact";
@import "template/blog";

.tag {
  display: block;
  border: none;
  text-transform: inherit;
  color: inherit;
  padding: inherit;
  line-height: inherit;
  letter-spacing: inherit;
}

.Search {
  padding-left: .8rem;
  font-weight: 300;
  color: #000;
  h3{
    font-weight: 900;
    margin-bottom: 0;
    text-transform: uppercase;
  }
  span{
    font-weight: 300;
    font-size: 1.4rem;
    margin-bottom: 1rem;
  }
  li {
    margin: .5rem;
    &::before {
      content: "\2022";
      color: var(--primary-color);
      font-size: 3rem;
      vertical-align: middle;
      margin-right: 1rem;
    }
  }
}
iframe{
  max-width: 100%;
}